<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" />
    </ion-buttons>
    <ion-title>Edit Todo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteTodo()">
        <ion-icon name="trash-outline" slot="icon-only" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="todo!.title" label="Title" labelPlacement="stacked" type="text" />
    </ion-item>
    <ion-item>
      <ion-checkbox [(ngModel)]="todo!.completed" labelPlacement="stacked">Completed</ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-button (click)="save()" color="light" expand="full">Save</ion-button>
</ion-footer>
