<ion-header>
  <ion-toolbar>
    <ion-title>Image classification using MobileNet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img #image>
  </div>

  <ul class="output">
    <li *ngFor="let prediction of predictions | async">
      {{prediction.className}} ({{prediction.probability | number:'1.5-5'}})
    </li>
  </ul>
</ion-content>

<ion-footer class="ion-text-center">
  <input #fileSelector (change)="onFileCange($event)" accept="image/*" style="display: none;"
         type="file">
  <ion-button (click)="clickFileSelector()" class="ion-text-center">Select File ...</ion-button>
</ion-footer>
