<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Font
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. At lectus urna duis convallis. Sed arcu non odio euismod lacinia at quis. Rhoncus urna neque viverra justo
    nec ultrices dui. Eget nunc lobortis mattis aliquam. Pellentesque elit eget gravida cum sociis natoque penatibus et
    magnis. Est pellentesque elit ullamcorper dignissim cras. Dictum fusce ut placerat orci nulla pellentesque. Aliquet
    nibh praesent tristique magna sit. Nibh nisl condimentum id venenatis a.
  </p>
  <p class="fresca">
    Orci ac auctor augue mauris augue neque gravida. Sit amet nisl purus in mollis nunc. Laoreet sit amet cursus sit
    amet. Blandit aliquam etiam erat velit. Viverra justo nec ultrices dui sapien eget mi proin sed. Urna nunc id cursus
    metus aliquam eleifend mi. Amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Tellus mauris a diam
    maecenas sed. Cras sed felis eget velit aliquet. Fames ac turpis egestas integer eget. Varius vel pharetra vel
    turpis nunc. Elit sed vulputate mi sit amet mauris commodo.
  </p>
</ion-content>
