<ion-header>
  <ion-toolbar>
    <ion-title>Posenet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div #canvasContainer class="ion-text-center canvasContainer">
    <canvas #canvas></canvas>
  </div>
</ion-content>

<ion-footer class="ion-text-center">
  <input #fileSelector (change)="onFileCange($event)" accept="image/*" style="display: none;"
         type="file">
  <ion-button (click)="clickFileSelector()" class="ion-text-center">Select File ...</ion-button>
</ion-footer>
