<ion-header>
  <ion-toolbar>
    <ion-title>Posenet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div class="ion-text-center canvasContainer" #canvasContainer>
    <canvas #canvas></canvas>
  </div>
</ion-content>

<ion-footer class="ion-text-center">
  <input #fileSelector type="file" accept="image/*" (change)="onFileCange($event)"
         style="display: none;">
  <ion-button (click)="clickFileSelector()" class="ion-text-center">Select File ...</ion-button>
</ion-footer>
