<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Stateless Authentication
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4>
    Message from the test service:
  </h4>
  <h5>
    {{message | async}}
  </h5>
  <ion-button (click)="logout()">Logout</ion-button>

  <div *ngIf="isAdmin() | async" class="ion-margin-top">
    <ion-button (click)="disable()" *ngIf="userEnabled">disable User</ion-button>
    <ion-button (click)="enable()" *ngIf="!userEnabled">Enable User</ion-button>
  </div>

</ion-content>
