<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Stateless Authentication
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4>
    Message from the test service:
  </h4>
  <h5>
    {{ message | async }}
  </h5>
  <ion-button (click)="logout()">Logout</ion-button>

  @if (isAdmin() | async) {
    <div class="ion-margin-top">
      @if (userEnabled) {
        <ion-button (click)="disable()">disable User</ion-button>
      }
      @if (!userEnabled) {
        <ion-button (click)="enable()">Enable User</ion-button>
      }
    </div>
  }

</ion-content>
