<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (keyup.enter)="form.valid && login(form.value.username, form.value.password)"
        (ngSubmit)="form.valid && login(form.value.username, form.value.password)" novalidate>
    <ion-list>
      <ion-item>
        <ion-input [required]="true" autocomplete="username" label="Username" labelPlacement="stacked" name="username"
                   ngModel type="text" />
      </ion-item>

      <ion-item>
        <ion-input [required]="true" autocomplete="current-password" label="Password" labelPlacement="stacked"
                   name="password" ngModel
                   type="password" />
      </ion-item>

      <div class="ion-padding">
        <ion-button [disabled]="!form.valid" color="primary" expand="block" type="submit">Login</ion-button>
      </div>

      <div class="ion-padding" style="margin-top: 50px;">
        <ion-button [routerLink]="['/home']" color="secondary" expand="block">Navigate to Home</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>
