<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (keyup.enter)="form.valid && login(form.value.username, form.value.password)"
        (ngSubmit)="form.valid && login(form.value.username, form.value.password)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input autocomplete="username" name="username" ngModel [required]="true" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input autocomplete="current-password" name="password" ngModel [required]="true" type="password"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button [disabled]="!form.valid" color="primary" expand="block" type="submit">Login</ion-button>
      </div>

      <div class="ion-padding" style="margin-top: 50px;">
        <ion-button color="secondary" expand="block" [routerLink]="['/home']">Navigate to Home</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>
