<ion-header>
  <ion-toolbar>
    <ion-title>
      FontAwesome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div>
    <fa-icon icon="smile-wink"></fa-icon>
    <fa-icon icon="smile-beam"></fa-icon>

    <fa-icon [icon]="['far', 'smile-wink']"></fa-icon>
    <fa-icon [icon]="['far', 'smile-beam']"></fa-icon>
  </div>

  <ion-button>
    <fa-icon slot="start" [icon]="faHandPointLeft"></fa-icon>
    Left Icon
  </ion-button>

  <ion-button>
    Right Icon
    <fa-icon slot="end" [icon]="faHandPointRight"></fa-icon>
  </ion-button>

  <div>
    <fa-icon [icon]="['fas', 'skiing']" size="lg"></fa-icon>
    <fa-icon [icon]="['fas', 'skiing']" size="2x"></fa-icon>
    <fa-icon [icon]="['fas', 'skiing']" size="3x"></fa-icon>
    <fa-icon [icon]="['fas', 'skiing']" size="4x"></fa-icon>
  </div>
  <div>
    <fa-icon [icon]="['fas', 'snowboarding']" size="3x"></fa-icon>
    <fa-icon [icon]="['fas', 'snowboarding']" size="3x" rotate="90"></fa-icon>
    <fa-icon [icon]="['fas', 'snowboarding']" size="3x" rotate="180"></fa-icon>
    <fa-icon [icon]="['fas', 'snowboarding']" size="3x" rotate="270"></fa-icon>
  </div>
  <div>
    <fa-icon [icon]="['fas', 'swimmer']" size="3x" flip="horizontal"></fa-icon>
    <fa-icon [icon]="['fas', 'swimmer']" size="3x" flip="vertical"></fa-icon>
    <fa-icon [icon]="['fas', 'swimmer']" size="3x" flip="both"></fa-icon>
  </div>
  <div>
    <fa-icon [icon]="['fas', 'asterisk']" size="6x" [spin]="true"></fa-icon>
    <fa-icon [icon]="['fas', 'cog']" size="6x" [pulse]="true"></fa-icon>
  </div>

  <div>
    <fa-icon size="6x"  [icon]="['fas', 'sync']" [spin]="syncRunning"></fa-icon>
    <ion-button (click)="syncRunning = true" [disabled]="syncRunning">Start</ion-button>
    <ion-button (click)="syncRunning = false" [disabled]="!syncRunning">Stop</ion-button>
  </div>

  <div>
    <fa-icon size="6x" [icon]="['fas', 'swimmer']" transform="shrink-10 down-4" [mask]="['fas', 'circle']"></fa-icon>
  </div>

  <div>
    <ul>
      <li>
        <fa-icon [icon]="['fas', 'swimmer']" size="2x"></fa-icon>
        Swimmer
      </li>
      <li>
        <fa-icon [icon]="['fas', 'snowboarding']" size="2x"></fa-icon>
        Snowboarding
      </li>
      <li>
        <fa-icon [icon]="['fas', 'skiing']" size="2x"></fa-icon>
        Skiing
      </li>
      <li>
        <fa-icon [icon]="['fas', 'skiing-nordic']" size="2x"></fa-icon>
        Skiing Nordic
      </li>
    </ul>
    <ul>
      <li>
        <fa-icon [icon]="['fas', 'swimmer']" [fixedWidth]="true" size="2x"></fa-icon>
        Swimmer
      </li>
      <li>
        <fa-icon [icon]="['fas', 'snowboarding']" [fixedWidth]="true" size="2x"></fa-icon>
        Snowboarding
      </li>
      <li>
        <fa-icon [icon]="['fas', 'skiing']" [fixedWidth]="true" size="2x"></fa-icon>
        Skiing
      </li>
      <li>
        <fa-icon [icon]="['fas', 'skiing-nordic']" [fixedWidth]="true" size="2x"></fa-icon>
        Skiing Nordic
      </li>
    </ul>
  </div>

  <ion-card>
    <ion-card-content>
      <fa-icon [icon]="['fas', 'asterisk']" [border]="true" size="2x" pull="left"></fa-icon>
      Lorem ipsum dolor sit amet, ei cum possit denique, debet mundi sit ne.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <fa-icon [icon]="['fas', 'asterisk']" [border]="true" size="2x" pull="right"></fa-icon>
      Lorem ipsum dolor sit amet, ei cum possit denique, debet mundi sit ne.
    </ion-card-content>
  </ion-card>

  <div>
    <fa-layers size="6x">
      <fa-icon [icon]="['fas', 'play']" transform="rotate--90 grow-2"></fa-icon>
      <fa-icon [icon]="['fas', 'sun']" [inverse]="true" transform="shrink-10 up-2"></fa-icon>
      <fa-icon [icon]="['fas', 'moon']" [inverse]="true" transform="shrink-11 down-4.2 left-4"></fa-icon>
      <fa-icon [icon]="['fas', 'star']" [inverse]="true" transform="shrink-11 down-4.2 right-4"></fa-icon>
    </fa-layers>
  </div>

  <div>
    <fa-layers size="5x">
      <fa-icon [icon]="['fas', 'cloud']"></fa-icon>
      <fa-layers-text content="Cloud" style="color: white;" transform="shrink-12"></fa-layers-text>
    </fa-layers>
  </div>

  <div>
    <fa-layers size="5x">
      <fa-icon [icon]="['fas', 'envelope-open']"></fa-icon>
      <fa-layers-counter content="5"></fa-layers-counter>
    </fa-layers>
  </div>

  <div>
    <fa-icon size="5x" [icon]="['fas', 'hand-point-left']" transform="rotate-{{magicLevel}}"></fa-icon>
    <input type='range' min="0" max="360" [value]="magicLevel" (input)="magicLevel=$event.target.value"/>
  </div>

</ion-content>
