<ion-header>
  <ion-toolbar>
    <ion-title>
      Todo
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addTodo()">
        <ion-icon name="add-outline" slot="icon-only" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    @for (todo of todoService.todosObservable | async; track todo) {
      <ion-item (click)="editTodo(todo)">
        <ion-label>{{ todo.title }}</ion-label>
        @if (todo.completed) {
          <ion-icon name="checkmark-circle-outline" slot="end" />
        }
      </ion-item>
    }
  </ion-list>
</ion-content>
