<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mobilenet">
      <ion-icon name="eye-outline"></ion-icon>
      <ion-label>Mobilenet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="objectdetection">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>Object-Detection</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="posenet">
      <ion-icon name="body-outline"></ion-icon>
      <ion-label>Posenet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speech">
      <ion-icon name="mic-outline"></ion-icon>
      <ion-label>Speech</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
