<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="login(form.value)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input name="email" ngModel [required]="true" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input name="password" ngModel [required]="true" type="password"></ion-input>
      </ion-item>

      <ion-button [disabled]="!form.valid" color="primary" expand="block" class="ion-margin-top" type="submit">Login</ion-button>

    </ion-list>
  </form>
</ion-content>
