<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="login(form.value)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [required]="true" name="email" ngModel type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [required]="true" name="password" ngModel type="password"></ion-input>
      </ion-item>

      <ion-button [disabled]="!form.valid" class="ion-margin-top" color="primary" expand="block" type="submit">Login
      </ion-button>

    </ion-list>
  </form>
</ion-content>
