<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up 2FA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <a [href]="qrSafeLink"><img [src]="qrCode"></a>
  </div>

  <form #form="ngForm" (keyup.enter)="form.valid && verifyCode(form.value.totpkey)"
        (ngSubmit)="form.valid && verifyCode(form.value.totpkey)" novalidate>
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Authenticator Code</ion-label>
            <ion-input autocomplete="one-time-code" name="totpkey" ngModel required type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button [disabled]="!form.valid" color="primary" expand="block" type="submit">Verify Authenticator Code
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>

</ion-content>
